<h1>New tweet</h1>

<%= form_with model: @tweet do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Cancel", tweets_path %>