<h1><%= @tweet.body %></h1>
<p>Created by <%= @tweet.user.name %></p>

<%= link_to "Back", tweets_path %>
<% if authenticated? && tweet_created_by_current_user?(@tweet.user_id) %>
  <%= link_to "Edit", edit_tweet_path(@tweet) %>
  <%= button_to "Delete", @tweet, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
